$text: #141A33;
$accent: #CB4E44;
$lines: #DADADA;
$titles: #040404;

$desktop: 712px;
$laptop: 648px;
$tablet: 600px;
$smallscreen: 576px;

:root {
  --font-p: 'Open Sans', 'system', sans-serif;
  --neutral-100: #F5F7FF;
  --neutral-200: #CCD0E9;
  --desktop: 712px;
  --laptop: 648px;
  --tablet: 600px;
  --smallscreen: 576px;
}